#loading {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
  color: #dbdbdb;
  font-size: 16px;
  padding-top: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

#loading #loading-text {
  display: none;
}

#header {
  position: relative;
  height: 20px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

#header #github {
  position: absolute;
  top: 68px;
  right: 30px;
  text-align: right;
  font-size: 13px;
}

#header #github a {
  color: #333;
  text-decoration: none;
  font-family: sans-serif;
  line-height: 1.15;
}

#header #github #ghlogo {
  vertical-align: bottom;
  display: inline-block;
  padding-bottom: 1px;
  height: 16px;
}